body {
    background-color: #001e38; /* Change this to your desired color */
    color: #ffffff; /* Optional: Change text color for contrast */
}

.dashboard-container {
    background-color: #000000;
    border: 1px solid #fffb00;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 10px rgb(251, 255, 0);
}

.dashboard-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.info-box {
    background-color: #000000;
    border: 1px solid #fffb00;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 10px rgb(251, 255, 0); /* Subtle shadow */
}

.fl-table {
    width: 100%; /* Full width table */
    border-collapse: collapse; /* Collapse borders */
}

.fl-table th, .fl-table td {
    border: 1px solid #eeff00; /* Cell border */
    padding: 8px; /* Padding for cells */
}

.fl-table th {
    background-color: #5f1919; /* Header background color */
    text-align: left; /* Align text to the left */
}

.canvas-container {
    background-color: #000000;
    border: 1px solid #fffb00;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 10px rgb(251, 255, 0);
}

#charts-container {
    display: flex;
    flex-direction: column;
    height: 800px; /* Set a fixed height for the container */
    gap: 10px; /* Space between charts */
}

#line-chart-container canvas {
    height:100px; /* Adjusted height for the line chart */
    width: 100%;   /* Ensure it remains full width */
}

#lower-charts-container {
    display: flex;
    flex: 1; /* Lower half */
}

.half-chart {
    flex: 1; /* Each half takes up equal space */
    display: flex;
    align-items: center; /* Center align charts vertically */
    justify-content: center; /* Center align charts horizontally */
}

canvas {
    max-width: 100%; /* Ensure charts are responsive */
    height: 300px; /* Set a fixed height for bar and pie charts */
}
