<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Selection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery first -->
    <script src="static/js/dropdown.js"></script> <!-- Link to your JavaScript file -->
</head>

<body>
    
    <div class="container">
        <div class="row">
          <div class="col-md-12 p-5 text-center bg-light">
            <h1>Vehicle Inventory Management Dashboard</h1>
            <p>Utilize this application to assist with your invenotry as well as a resource to help with sales!</p>
          </div>
        </div>
        <br>

        <div id="select">
          <label for="make">Make:</label>
          <select id="make">
              <option value="">Select Make</option>
          </select>
  
          <label for="model">Model:</label>
          <select id="model" disabled>
              <option value="">Select Model</option>
          </select>
  
          <label for="year">Year:</label>
          <select id="year" disabled>
              <option value="">Select Year</option>
          </select>
          
          <button id="query-button" class="btn btn-primary mt-3">Query Car</button>

  
      <!-- Results Container -->
        <div id="results" class="mt-4 p-3 border rounded bg-light">
        </div>
      </div>
    
    <!-- <div id="plot"></div> -->
    <script src="static/js/dropdown.js"></script>

</body>
</html>
